<a href="https://colab.research.google.com/github/mehdy28/Fligh_Delay/blob/main/Flight_Delay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing data and creating dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
url= 'https://raw.githubusercontent.com/mehdy28/Fligh_Delay/main/data/test.csv'
test= pd.read_csv(url)
test.head()

  Month DayofMonth DayOfWeek  DepTime UniqueCarrier Origin Dest  Distance
0   c-7       c-25       c-3      615            YV    MRY  PHX       598
1   c-4       c-17       c-2      739            WN    LAS  HOU      1235
2  c-12        c-2       c-7      651            MQ    GSP  ORD       577
3   c-3       c-25       c-7     1614            WN    BWI  MHT       377
4   c-6        c-6       c-3     1505            UA    ORD  STL       258

In [3]:
url= 'https://raw.githubusercontent.com/mehdy28/Fligh_Delay/main/data/train.csv'
train= pd.read_csv(url)
train.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y

## Exploratory Data Analysis

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month              100000 non-null  object
 1   DayofMonth         100000 non-null  object
 2   DayOfWeek          100000 non-null  object
 3   DepTime            100000 non-null  int64
 4   UniqueCarrier      100000 non-null  object
 5   Origin             100000 non-null  object
 6   Dest               100000 non-null  object
 7   Distance           100000 non-null  int64
 8   dep_delayed_15min  100000 non-null  object
dtypes: int64(2), object(7)
memory usage: 6.9+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Month          100000 non-null  object
 1   DayofMonth     100000 non-null  object
 2   DayOfWeek      100000 non-null  object
 3   DepTime        100000 non-null  int64
 4   UniqueCarrier  100000 non-null  object
 5   Origin         100000 non-null  object
 6   Dest           100000 non-null  object
 7   Distance       100000 non-null  int64
dtypes: int64(2), object(6)
memory usage: 6.1+ MB

We do not have any null columns in our data

In [6]:
print("The unique values of 'Distance' in the: ")
print("Train dataset: ",train.Distance.unique())
print("Test dataset: ",test.Distance.unique())

The unique values of 'Distance' in the:
Train dataset:  [ 732  834  416 ... 2242  536 1198]
Test dataset:  [ 598 1235  577 ...   96 1367   91]

In [7]:
print("The unique values of 'UniqueCarrier' in the: ")
print("Train dataset: ",train.UniqueCarrier.unique())
print("Test dataset: ",test.UniqueCarrier.unique())

The unique values of 'UniqueCarrier' in the:
Train dataset:  ['AA' 'US' 'XE' 'OO' 'WN' 'NW' 'DL' 'OH' 'AS' 'UA' 'MQ' 'CO' 'EV' 'DH'
 'YV' 'F9' 'AQ' 'TZ' 'HP' 'B6' 'FL' 'HA']
Test dataset:  ['YV' 'WN' 'MQ' 'UA' 'NW' 'B6' 'US' 'AA' 'OH' 'OO' 'FL' 'DL' 'EV' 'CO'
 'XE' '9E' 'HA' 'AS' 'AQ' 'F9']

In [8]:
print("The unique values of 'Origin' in the: ")
print("Train dataset: ",train.Origin.unique())
print("Test dataset: ",test.Origin.unique())

The unique values of 'Origin' in the:
Train dataset:  ['ATL' 'PIT' 'RDU' 'DEN' 'MDW' 'MEM' 'PBI' 'MSP' 'ONT' 'BDL' 'PHX' 'LAS'
 'DFW' 'DSM' 'CMH' 'ORF' 'SLC' 'CLT' 'GSO' 'IAD' 'SMF' 'FLL' 'DAL' 'ORD'
 'ITO' 'SAN' 'ROA' 'LGA' 'SFO' 'GSP' 'SEA' 'DAB' 'SJC' 'LIT' 'LAX' 'OAK'
 'COS' 'OKC' 'GRR' 'JFK' 'BOI' 'MCI' 'BWI' 'BHM' 'CRP' 'BOS' 'SAT' 'PHL'
 'STL' 'CIC' 'AUS' 'IAH' 'COD' 'HNL' 'RNO' 'BNA' 'TPA' 'MIA' 'EVV' 'PNS'
 'EWR' 'RSW' 'ANC' 'SNA' 'AMA' 'CID' 'DTW' 'DCA' 'LGB' 'MAF' 'MFE' 'BMI'
 'PDX' 'IPL' 'GRB' 'FAR' 'HOU' 'MTJ' 'DRO' 'MLU' 'VPS' 'TUL' 'CVG' 'SBA'
 'PWM' 'IDA' 'MCO' 'ACV' 'CHS' 'BGM' 'MSY' 'OGG' 'CLE' 'MOB' 'CAK' 'FAY'
 'SHV' 'TUS' 'IND' 'CAE' 'PVD' 'ROC' 'MFR' 'VLD' 'ELP' 'RIC' 'MKE' 'SGF'
 'TYS' 'CHO' 'EGE' 'BIS' 'JAN' 'JAX' 'BUF' 'MSO' 'BGR' 'CEC' 'ICT' 'MYR'
 'ALB' 'LIH' 'SBP' 'AEX' 'GNV' 'SAV' 'BTM' 'BRO' 'SJU' 'XNA' 'CPR' 'SDF'
 'JAC' 'AVL' 'PHF' 'GPT' 'SYR' 'PSP' 'MHT' 'MRY' 'CLD' 'FAT' 'MSN' 'ISP'
 'BUR' 'PSC' 'MEI' 'LEX' 'LBB' 'GEG' 'LFT' 'OMA' 'ISO' 'MGM' 'GRK' 'AVP'
 'ABQ' 'SRQ' 'BTV' 'FLG' 'BTR' 'MDT' 'ABI' 'TRI' 'ADQ' 'FSM' 'SMX' 'RST'
 'RAP' 'ILM' 'SIT' 'EKO' 'DBQ' 'CHA' 'BQK' 'BZN' 'MOD' 'MOT' 'MLB' 'TVC'
 'LAN' 'DAY' 'HSV' 'EUG' 'SGU' 'ACT' 'AGS' 'CLL' 'HLN' 'LNK' 'ASE' 'HRL'
 'ATW' 'CMI' 'LWS' 'DHN' 'FNT' 'FLO' 'RDM' 'TYR' 'KOA' 'FAI' 'OME' 'RDD'
 'MCN' 'TLH' 'MQT' 'AZO' 'FCA' 'CRW' 'TOL' 'HPN' 'FSD' 'FWA' 'SUN' 'LAW'
 'YUM' 'PIA' 'GTF' 'ACY' 'PIH' 'SPS' 'MLI' 'BIL' 'TWF' 'HTS' 'SBN' 'PFN'
 'GJT' 'CSG' 'JNU' 'TXK' 'LRD' 'BQN' 'CWA' 'SWF' 'GTR' 'BFL' 'OXR' 'KTN'
 'PIE' 'SCE' 'PSG' 'DLH' 'SJT' 'GUC' 'SPI' 'IYK' 'ABY' 'STT' 'ABE' 'GFK'
 'HDN' 'CDV' 'MBS' 'TUP' 'LCH' 'EYW' 'OTZ' 'ADK' 'GGG' 'VIS' 'GST' 'LYH'
 'HVN' 'BRW' 'LSE' 'ERI' 'HKY' 'BET' 'CDC' 'OAJ' 'WRG' 'ACK' 'DLG' 'YAK'
 'AKN' 'TEX' 'STX' 'SCC' 'APF' 'BPT' 'WYS' 'RFD' 'BLI' 'ILG' 'VCT' 'LWB'
 'PSE']
Test dataset:  ['MRY' 'LAS' 'GSP' 'BWI' 'ORD' 'ORF' 'IAD' 'MSP' 'PIT' 'DFW' 'JFK' 'ASE'
 'GRR' 'DEN' 'DAB' 'ATL' 'CMH' 'MDT' 'IAH' 'MIA' 'LAX' 'TYS' 'MCI' 'STL'
 'LGA' 'DTW' 'CLT' 'DCA' 'SFO' 'MSN' 'IND' 'ALB' 'HNL' 'PWM' 'MDW' 'PHX'
 'BOS' 'GEG' 'ABE' 'DAL' 'EWR' 'LEX' 'OAK' 'SAN' 'SGF' 'OMA' 'MAF' 'CLD'
 'SNA' 'BUR' 'PHL' 'PDX' 'BDL' 'ANC' 'JAN' 'OKC' 'MLU' 'RDU' 'ONT' 'SLC'
 'TWF' 'FLL' 'ABI' 'CLE' 'CVG' 'AZO' 'SWF' 'SJU' 'COS' 'GSO' 'MEM' 'MCO'
 'RSW' 'TPA' 'FAT' 'BUF' 'JAX' 'ITO' 'ERI' 'PIA' 'LIT' 'SBA' 'CID' 'BHM'
 'BTM' 'CAE' 'GTF' 'BNA' 'PIH' 'LIH' 'XNA' 'MKE' 'BMI' 'RIC' 'SAT' 'SJC'
 'SMF' 'ABQ' 'PVD' 'BOI' 'SYR' 'SGU' 'ISP' 'MGM' 'AGS' 'PSP' 'ICT' 'LFT'
 'SEA' 'STT' 'DRO' 'EYW' 'GPT' 'AUS' 'MYR' 'SAV' 'KOA' 'SHV' 'PFN' 'GJT'
 'PBI' 'MHT' 'BTR' 'BGR' 'DSM' 'ELP' 'MSY' 'HOU' 'JAC' 'TUL' 'ROA' 'RNO'
 'CRW' 'MFR' 'IDA' 'MLI' 'DAY' 'PNS' 'ROC' 'HSV' 'AVL' 'CWA' 'ACT' 'BRO'
 'TUS' 'LYH' 'FSD' 'SIT' 'BIS' 'GRK' 'LBB' 'FAR' 'OGG' 'SRQ' 'SDF' 'PHF'
 'MTJ' 'GTR' 'CHS' 'VPS' 'HPN' 'ACV' 'RAP' 'HRL' 'LRD' 'LAN' 'EUG' 'CPR'
 'CAK' 'BZN' 'IPL' 'CHO' 'BRW' 'AMA' 'EVV' 'FWA' 'MOD' 'SUN' 'SBP' 'BTV'
 'MOB' 'CRP' 'HDN' 'SBN' 'BGM' 'CMI' 'LAW' 'TVC' 'CSG' 'FAI' 'CDV' 'DLH'
 'YAK' 'AVP' 'BET' 'AEX' 'RST' 'FNT' 'BIL' 'LGB' 'ILM' 'JNU' 'TYR' 'SMX'
 'MFE' 'DLG' 'MBS' 'DHN' 'MQT' 'RDM' 'ATW' 'BFL' 'CLL' 'FAY' 'SCE' 'KTN'
 'CHA' 'TXK' 'GNV' 'FCA' 'BQK' 'TLH' 'EWN' 'ADQ' 'LNK' 'CIC' 'MLB' 'TRI'
 'FLG' 'PSG' 'SPI' 'HLN' 'ILG' 'GRB' 'MCN' 'ADK' 'ELM' 'OAJ' 'TOL' 'GGG'
 'CMX' 'FSM' 'ACK' 'LSE' 'GFK' 'PLN' 'SPS' 'YKM' 'LWS' 'YUM' 'RDD' 'DBQ'
 'ACY' 'EKO' 'PSE' 'MSO' 'OME' 'ABY' 'SCC' 'IYK' 'EGE' 'SJT' 'HHH' 'VLD'
 'INL' 'BQN' 'APF' 'FLO' 'RFD' 'PSC' 'GUC' 'LCH' 'EAU' 'MOT' 'BPT' 'COD'
 'SUX' 'MEI' 'OXR' 'SLE' 'TEX' 'ROW' 'WRG' 'BLI' 'TTN' 'CEC' 'MTH' 'STX'
 'OTZ' 'PMD' 'SOP' 'HTS' 'GST' 'BJI' 'WYS' 'LWB' 'ALO' 'AKN' 'TUP' 'RHI']

In [9]:
print("The unique values of 'DayofMonth' in the: ")
print("Train dataset: ",train.DayofMonth.unique())
print("Test dataset: ",test.DayofMonth.unique(),'\n')
print("The unique values of 'Month' in the: ")
print("Train dataset: ",train.Month.unique())
print("Test dataset: ",test.Month.unique(),'\n')
print("The unique values of 'DayOfWeek' in the: ")
print("Train dataset: ",train.DayOfWeek.unique())
print("Test dataset: ",test.DayOfWeek.unique(),'\n')

The unique values of 'DayofMonth' in the:
Train dataset:  ['c-21' 'c-20' 'c-2' 'c-25' 'c-7' 'c-3' 'c-27' 'c-29' 'c-28' 'c-5' 'c-6'
 'c-10' 'c-19' 'c-26' 'c-14' 'c-22' 'c-9' 'c-31' 'c-4' 'c-16' 'c-18'
 'c-30' 'c-1' 'c-24' 'c-15' 'c-17' 'c-8' 'c-12' 'c-13' 'c-11' 'c-23']
Test dataset:  ['c-25' 'c-17' 'c-2' 'c-6' 'c-22' 'c-30' 'c-11' 'c-14' 'c-23' 'c-18'
 'c-12' 'c-31' 'c-9' 'c-10' 'c-7' 'c-27' 'c-20' 'c-13' 'c-3' 'c-16' 'c-15'
 'c-5' 'c-8' 'c-26' 'c-1' 'c-29' 'c-21' 'c-28' 'c-4' 'c-24' 'c-19']

The unique values of 'Month' in the:
Train dataset:  ['c-8' 'c-4' 'c-9' 'c-11' 'c-10' 'c-1' 'c-7' 'c-6' 'c-5' 'c-3' 'c-12'
 'c-2']
Test dataset:  ['c-7' 'c-4' 'c-12' 'c-3' 'c-6' 'c-2' 'c-10' 'c-1' 'c-9' 'c-8' 'c-11'
 'c-5']

The unique values of 'DayOfWeek' in the:
Train dataset:  ['c-7' 'c-3' 'c-5' 'c-6' 'c-4' 'c-2' 'c-1']
Test dataset:  ['c-3' 'c-2' 'c-7' 'c-4' 'c-1' 'c-5' 'c-6']

We will be removing the "c-" in the 'Month', 'DayofMonth', 'DayOFWeek' columns in both train and test datasets.

In [10]:
def remove_C(data):
  return data[2:]

train['Month'] = train.apply(lambda row : remove_C(row['Month']), axis=1)
train['DayofMonth'] = train.apply(lambda row : remove_C(row['DayofMonth']), axis=1)
train['DayOfWeek'] = train.apply(lambda row : remove_C(row['DayOfWeek']), axis=1)

test['Month'] = test.apply(lambda row : remove_C(row['Month']), axis=1)
test['DayofMonth'] = test.apply(lambda row : remove_C(row['DayofMonth']), axis=1)
test['DayOfWeek'] = test.apply(lambda row : remove_C(row['DayOfWeek']), axis=1)

In [11]:
#We will be replacing the 'dep_delayed_15min' with 0-1;
train['dep_delayed_15min'].replace({"Y": 1, "N": 0}, inplace=True)

In [12]:
train.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,8,21,7,1934,AA,ATL,DFW,732,0
1,4,20,3,1548,US,PIT,MCO,834,0
2,9,2,5,1422,XE,RDU,CLE,416,0
3,11,25,6,1015,OO,DEN,MEM,872,0
4,10,7,6,1828,WN,MDW,OMA,423,1

In [13]:
test.head()

  Month DayofMonth DayOfWeek  DepTime UniqueCarrier Origin Dest  Distance
0     7         25         3      615            YV    MRY  PHX       598
1     4         17         2      739            WN    LAS  HOU      1235
2    12          2         7      651            MQ    GSP  ORD       577
3     3         25         7     1614            WN    BWI  MHT       377
4     6          6         3     1505            UA    ORD  STL       258

In [14]:
#Changing the type of the supposedly numeric columns into int64
train.DayofMonth=train.DayofMonth.astype(np.int64)
train.Month=train.DayofMonth.astype(np.int64)
train.DayOfWeek=train.DayofMonth.astype(np.int64)

test.DayofMonth=test.DayofMonth.astype(np.int64)
test.Month=test.DayofMonth.astype(np.int64)
test.DayOfWeek=test.DayofMonth.astype(np.int64)

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month              100000 non-null  int64
 1   DayofMonth         100000 non-null  int64
 2   DayOfWeek          100000 non-null  int64
 3   DepTime            100000 non-null  int64
 4   UniqueCarrier      100000 non-null  object
 5   Origin             100000 non-null  object
 6   Dest               100000 non-null  object
 7   Distance           100000 non-null  int64
 8   dep_delayed_15min  100000 non-null  int64
dtypes: int64(6), object(3)
memory usage: 6.9+ MB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Month          100000 non-null  int64
 1   DayofMonth     100000 non-null  int64
 2   DayOfWeek      100000 non-null  int64
 3   DepTime        100000 non-null  int64
 4   UniqueCarrier  100000 non-null  object
 5   Origin         100000 non-null  object
 6   Dest           100000 non-null  object
 7   Distance       100000 non-null  int64
dtypes: int64(5), object(3)
memory usage: 6.1+ MB

## One Hot Encoder: For both train and test data

In [17]:
#Create a list of culumns that u wish to perform encoding on
column_list = train.loc[:, (train.dtypes == "object")].columns.values.tolist()
print(column_list)

['UniqueCarrier', 'Origin', 'Dest']

### One Hot Encoder: Train dataset

In [18]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(train[column_list]),columns= (OH_encoder.get_feature_names_out() ))

# One-hot encoding removed index; put it back
OH_cols.index = train.index

# Remove categorical columns (will replace with one-hot encoding)
train = train.drop(column_list, axis=1)

# Add one-hot encoded columns to numerical features
train = pd.concat([train, OH_cols], axis=1)

In [19]:
train.head()

,Month,DayofMonth,DayOfWeek,DepTime,Distance,dep_delayed_15min,UniqueCarrier_AA,UniqueCarrier_AQ,UniqueCarrier_AS,UniqueCarrier_B6,...,Dest_TYS,Dest_VCT,Dest_VIS,Dest_VLD,Dest_VPS,Dest_WRG,Dest_WYS,Dest_XNA,Dest_YAK,Dest_YUM
0,21,21,21,1934,732,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,20,20,1548,834,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,2,1422,416,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,25,25,25,1015,872,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,7,7,1828,423,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### One Hot Encoder: Test dataset

In [20]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(test[column_list]),columns= (OH_encoder.get_feature_names_out() ))

# One-hot encoding removed index; put it back
OH_cols.index = test.index

# Remove categorical columns (will replace with one-hot encoding)
test = test.drop(column_list, axis=1)

# Add one-hot encoded columns to numerical features
test = pd.concat([test, OH_cols], axis=1)

In [21]:
test.head()

,Month,DayofMonth,DayOfWeek,DepTime,Distance,UniqueCarrier_9E,UniqueCarrier_AA,UniqueCarrier_AQ,UniqueCarrier_AS,UniqueCarrier_B6,...,Dest_TYR,Dest_TYS,Dest_VLD,Dest_VPS,Dest_WRG,Dest_WYS,Dest_XNA,Dest_YAK,Dest_YKM,Dest_YUM
0,25,25,25,615,598,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17,17,17,739,1235,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,2,651,577,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,25,25,25,1614,377,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6,6,6,1505,258,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Applying Machine learning models and testing

In [29]:
#Splitting the dataset int test and train subsets
from sklearn.model_selection import train_test_split
X, y= train.drop(['dep_delayed_15min'], axis=1) ,train.dep_delayed_15min
# Divide data into training and validation subsets
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.20,random_state=0)

In [31]:
a={'Model Name':[],'True Positive':[],'False Negative':[],'False Positive':[],'True Negative':[],'Accuracy':[],'Precision':[],'Recall':[],'F1 Score':[],'Specificity':[],'MCC':[],'Balanced Accuracy':[]}
result=pd.DataFrame(a)
result

Empty DataFrame
Columns: [Model Name, True Positive, False Negative, False Positive, True Negative, Accuracy, Precision, Recall, F1 Score, Specificity, MCC, Balanced Accuracy]
Index: []

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import GradientBoostingClassifier
import lightgbm as lgb
from sklearn.naive_bayes import GaussianNB

ModelLR = LogisticRegression(penalty='l2', max_iter=5000)
ModelDC = DecisionTreeClassifier()
ModelRF = RandomForestClassifier()
ModelET = ExtraTreesClassifier()
ModelKNN = KNeighborsClassifier(n_neighbors=5)
ModelSVM = SVC(probability=True)
modelBAG = BaggingClassifier(base_estimator=None, n_estimators=100, max_samples=1.0, max_features=1.0,bootstrap=True, bootstrap_features=False, oob_score=False, warm_start=False,n_jobs=None, random_state=None, verbose=0)
ModelGB = GradientBoostingClassifier(loss='deviance', learning_rate=0.1,n_estimators=100, subsample=1.0,criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, init=None,random_state=None,max_features=None, verbose=0, max_leaf_nodes=None, warm_start=False,validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)
ModelLGB = lgb.LGBMClassifier()
ModelGNB = GaussianNB()

 
MM = [ModelLR, ModelDC, ModelRF, ModelET,ModelKNN, ModelSVM, modelBAG,ModelGB, ModelLGB, ModelGNB]
for models in MM:
    
    # Fit the model
    
    models.fit(x_train, y_train)
    
    # Prediction
    
    y_pred = models.predict(x_test)
    y_pred_prob = models.predict_proba(x_test)
    
    # Print the model name
    
    print('Model Name: ', models)
    
    # confusion matrix in sklearn

    from sklearn.metrics import confusion_matrix
    from sklearn.metrics import classification_report

    # actual values

    actual = y_test

    # predicted values

    predicted = y_pred

    # confusion matrix

    matrix = confusion_matrix(actual,predicted, labels=[1,0],sample_weight=None, normalize=None)
    print('Confusion matrix : \n', matrix)

    # outcome values order in sklearn

    tp, fn, fp, tn = confusion_matrix(actual,predicted,labels=[1,0]).reshape(-1)
    print('Outcome values : \n', tp, fn, fp, tn)

    # classification report for precision, recall f1-score and accuracy

    C_Report = classification_report(actual,predicted,labels=[1,0])

    print('Classification report : \n', C_Report)

    # calculating the metrics

    sensitivity = round(tp/(tp+fn), 3);
    specificity = round(tn/(tn+fp), 3);
    accuracy = round((tp+tn)/(tp+fp+tn+fn), 3);
    balanced_accuracy = round((sensitivity+specificity)/2, 3);
    
    precision = round(tp/(tp+fp), 3);
    f1Score = round((2*tp/(2*tp + fp + fn)), 3);

    # Matthews Correlation Coefficient (MCC). Range of values of MCC lie between -1 to +1. 
    # A model with a score of +1 is a perfect model and -1 is a poor model
    import math
    from math import sqrt

    mx = (tp+fp) * (tp+fn) * (tn+fp) * (tn+fn)
    MCC = round(((tp * tn) - (fp * fn)) / sqrt(mx), 3)

    print('Accuracy :', round(accuracy*100, 2),'%')
    print('Precision :', round(precision*100, 2),'%')
    print('Recall :', round(sensitivity*100,2), '%')
    print('F1 Score :', f1Score)
    print('Specificity or True Negative Rate :', round(specificity*100,2), '%'  )
    print('Balanced Accuracy :', round(balanced_accuracy*100, 2),'%')
    print('MCC :', 'MCC')


    print('-----------------------------------------------------------------------------------------------------')
    #----------------------------------------------------------------------------------------------------------
    new_row = {'Model Name' : models,
               'True Positive' : tp, 
               'False Negative' : fn, 
               'False Positive' : fp,
               'True Negative' : tn,
               'Accuracy' : accuracy,
               'Precision' : precision,
               'Recall' : sensitivity,
               'F1 Score' : f1Score,
               'Specificity' : specificity,
               'MCC':MCC,
               'Balanced Accuracy':balanced_accuracy}
    result = result.append(new_row, ignore_index=True)

Model Name:  LogisticRegression(max_iter=5000)
Confusion matrix :
 [[  598 14622]
 [  560 64220]]
Outcome values :
 598 14622 560 64220
Classification report :
               precision    recall  f1-score   support

           1       0.52      0.04      0.07     15220
           0       0.81      0.99      0.89     64780

    accuracy                           0.81     80000
   macro avg       0.67      0.52      0.48     80000
weighted avg       0.76      0.81      0.74     80000

Accuracy : 81.0 %
Precision : 51.6 %
Recall : 3.9 %
F1 Score : 0.073
Specificity or True Negative Rate : 99.1 %
Balanced Accuracy : 51.5 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  DecisionTreeClassifier()
Confusion matrix :
 [[ 4363 10857]
 [ 9682 55098]]
Outcome values :
 4363 10857 9682 55098
Classification report :
               precision    recall  f1-score   support

           1       0.31      0.29      0.30     15220
           0       0.84      0.85      0.84     64780

    accuracy                           0.74     80000
   macro avg       0.57      0.57      0.57     80000
weighted avg       0.74      0.74      0.74     80000

Accuracy : 74.3 %
Precision : 31.1 %
Recall : 28.7 %
F1 Score : 0.298
Specificity or True Negative Rate : 85.1 %
Balanced Accuracy : 56.9 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  RandomForestClassifier()
Confusion matrix :
 [[ 1279 13941]
 [ 1752 63028]]
Outcome values :
 1279 13941 1752 63028
Classification report :
               precision    recall  f1-score   support

           1       0.42      0.08      0.14     15220
           0       0.82      0.97      0.89     64780

    accuracy                           0.80     80000
   macro avg       0.62      0.53      0.51     80000
weighted avg       0.74      0.80      0.75     80000

Accuracy : 80.4 %
Precision : 42.2 %
Recall : 8.4 %
F1 Score : 0.14
Specificity or True Negative Rate : 97.3 %
Balanced Accuracy : 52.8 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  ExtraTreesClassifier()
Confusion matrix :
 [[ 2041 13179]
 [ 4217 60563]]
Outcome values :
 2041 13179 4217 60563
Classification report :
               precision    recall  f1-score   support

           1       0.33      0.13      0.19     15220
           0       0.82      0.93      0.87     64780

    accuracy                           0.78     80000
   macro avg       0.57      0.53      0.53     80000
weighted avg       0.73      0.78      0.74     80000

Accuracy : 78.3 %
Precision : 32.6 %
Recall : 13.4 %
F1 Score : 0.19
Specificity or True Negative Rate : 93.5 %
Balanced Accuracy : 53.4 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  KNeighborsClassifier()
Confusion matrix :
 [[ 2329 12891]
 [ 4235 60545]]
Outcome values :
 2329 12891 4235 60545
Classification report :
               precision    recall  f1-score   support

           1       0.35      0.15      0.21     15220
           0       0.82      0.93      0.88     64780

    accuracy                           0.79     80000
   macro avg       0.59      0.54      0.54     80000
weighted avg       0.74      0.79      0.75     80000

Accuracy : 78.6 %
Precision : 35.5 %
Recall : 15.3 %
F1 Score : 0.214
Specificity or True Negative Rate : 93.5 %
Balanced Accuracy : 54.4 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  SVC(probability=True)
Confusion matrix :
 [[    0 15220]
 [    0 64780]]
Outcome values :
 0 15220 0 64780

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
<ipython-input-32-434a4d205f63>:76: RuntimeWarning: invalid value encountered in long_scalars
  precision = round(tp/(tp+fp), 3);
<ipython-input-32-434a4d205f63>:85: RuntimeWarning: invalid value encountered in true_divide
  MCC = round(((tp * tn) - (fp * fn)) / sqrt(mx), 3)

Classification report :
               precision    recall  f1-score   support

           1       0.00      0.00      0.00     15220
           0       0.81      1.00      0.89     64780

    accuracy                           0.81     80000
   macro avg       0.40      0.50      0.45     80000
weighted avg       0.66      0.81      0.72     80000

Accuracy : 81.0 %
Precision : nan %
Recall : 0.0 %
F1 Score : 0.0
Specificity or True Negative Rate : 100.0 %
Balanced Accuracy : 50.0 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  BaggingClassifier(n_estimators=100)
Confusion matrix :
 [[ 2317 12903]
 [ 2667 62113]]
Outcome values :
 2317 12903 2667 62113
Classification report :
               precision    recall  f1-score   support

           1       0.46      0.15      0.23     15220
           0       0.83      0.96      0.89     64780

    accuracy                           0.81     80000
   macro avg       0.65      0.56      0.56     80000
weighted avg       0.76      0.81      0.76     80000

Accuracy : 80.5 %
Precision : 46.5 %
Recall : 15.2 %
F1 Score : 0.229
Specificity or True Negative Rate : 95.9 %
Balanced Accuracy : 55.6 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  GradientBoostingClassifier()
Confusion matrix :
 [[  834 14386]
 [  376 64404]]
Outcome values :
 834 14386 376 64404
Classification report :
               precision    recall  f1-score   support

           1       0.69      0.05      0.10     15220
           0       0.82      0.99      0.90     64780

    accuracy                           0.82     80000
   macro avg       0.75      0.52      0.50     80000
weighted avg       0.79      0.82      0.75     80000

Accuracy : 81.5 %
Precision : 68.9 %
Recall : 5.5 %
F1 Score : 0.102
Specificity or True Negative Rate : 99.4 %
Balanced Accuracy : 52.4 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  LGBMClassifier()
Confusion matrix :
 [[ 1541 13679]
 [  991 63789]]
Outcome values :
 1541 13679 991 63789
Classification report :
               precision    recall  f1-score   support

           1       0.61      0.10      0.17     15220
           0       0.82      0.98      0.90     64780

    accuracy                           0.82     80000
   macro avg       0.72      0.54      0.54     80000
weighted avg       0.78      0.82      0.76     80000

Accuracy : 81.7 %
Precision : 60.9 %
Recall : 10.1 %
F1 Score : 0.174
Specificity or True Negative Rate : 98.5 %
Balanced Accuracy : 54.3 %
MCC : MCC
-----------------------------------------------------------------------------------------------------
Model Name:  GaussianNB()
Confusion matrix :
 [[12262  2958]
 [48720 16060]]
Outcome values :
 12262 2958 48720 16060
Classification report :
               precision    recall  f1-score   support

           1       0.20      0.81      0.32     15220
           0       0.84      0.25      0.38     64780

    accuracy                           0.35     80000
   macro avg       0.52      0.53      0.35     80000
weighted avg       0.72      0.35      0.37     80000

Accuracy : 35.4 %
Precision : 20.1 %
Recall : 80.6 %
F1 Score : 0.322
Specificity or True Negative Rate : 24.8 %
Balanced Accuracy : 52.7 %
MCC : MCC
-----------------------------------------------------------------------------------------------------

In [33]:
result

,Model Name,True Positive,False Negative,False Positive,True Negative,Accuracy,Precision,Recall,F1 Score,Specificity,MCC,Balanced Accuracy
0,LogisticRegression(max_iter=5000),598.0,14622.0,560.0,64220.0,0.810,0.516,0.039,0.073,0.991,0.101,0.515
1,DecisionTreeClassifier(),4363.0,10857.0,9682.0,55098.0,0.743,0.311,0.287,0.298,0.851,0.142,0.569
2,"(DecisionTreeClassifier(max_features='auto', r...",1279.0,13941.0,1752.0,63028.0,0.804,0.422,0.084,0.140,0.973,0.117,0.528
3,"(ExtraTreeClassifier(random_state=167135386), ...",2041.0,13179.0,4217.0,60563.0,0.783,0.326,0.134,0.190,0.935,0.101,0.534
4,KNeighborsClassifier(),2329.0,12891.0,4235.0,60545.0,0.786,0.355,0.153,0.214,0.935,0.125,0.544
5,SVC(probability=True),0.0,15220.0,0.0,64780.0,0.810,NaN,0.000,0.000,1.000,NaN,0.500
6,(DecisionTreeClassifier(random_state=124551168...,2317.0,12903.0,2667.0,62113.0,0.805,0.465,0.152,0.229,0.959,0.180,0.556
7,([DecisionTreeRegressor(criterion='friedman_ms...,834.0,14386.0,376.0,64404.0,0.815,0.689,0.055,0.102,0.994,0.158,0.524
8,LGBMClassifier(),1541.0,13679.0,991.0,63789.0,0.817,0.609,0.101,0.174,0.985,0.193,0.543
9,GaussianNB(),12262.0,2958.0,48720.0,16060.0,0.354,0.201,0.806,0.322,0.248,0.049,0.527

In [34]:
models={'models':['LogisticRegression','DecisionTreeClassifier','RandomForestClassifier','ExtraTreesClassifier','KNeighborsClassifier','SVC','BaggingClassifier','GradientBoostingClassifier','LGBMClassifier','GaussianNB']}
out=pd.DataFrame(models)
out['Accuracy']=result['Accuracy']
out['Precision']=result['Precision']
out['Recall']=result['Recall']
out['F1 Score']=result['F1 Score']
out['True Positive']=result['True Positive']
out['False Negative']=result['False Negative']
out['False Positive']=result['False Positive']
out['True Negative']=result['True Negative']
out.sort_values(by=['Accuracy','F1 Score','Recall','Precision'],ascending=False,inplace=True)
out.reset_index(drop=True,inplace=True)
out

,models,Accuracy,Precision,Recall,F1 Score,True Positive,False Negative,False Positive,True Negative
0,LGBMClassifier,0.817,0.609,0.101,0.174,1541.0,13679.0,991.0,63789.0
1,GradientBoostingClassifier,0.815,0.689,0.055,0.102,834.0,14386.0,376.0,64404.0
2,LogisticRegression,0.810,0.516,0.039,0.073,598.0,14622.0,560.0,64220.0
3,SVC,0.810,NaN,0.000,0.000,0.0,15220.0,0.0,64780.0
4,BaggingClassifier,0.805,0.465,0.152,0.229,2317.0,12903.0,2667.0,62113.0
5,RandomForestClassifier,0.804,0.422,0.084,0.140,1279.0,13941.0,1752.0,63028.0
6,KNeighborsClassifier,0.786,0.355,0.153,0.214,2329.0,12891.0,4235.0,60545.0
7,ExtraTreesClassifier,0.783,0.326,0.134,0.190,2041.0,13179.0,4217.0,60563.0
8,DecisionTreeClassifier,0.743,0.311,0.287,0.298,4363.0,10857.0,9682.0,55098.0
9,GaussianNB,0.354,0.201,0.806,0.322,12262.0,2958.0,48720.0,16060.0

In [38]:
y_pred=ModelGB.predict(x_test)
out=pd.DataFrame({'actual':y_test,'predicted':y_pred})
out=test.merge(out,left_index=True,right_index=True)
out['actual'].replace(1,'Delay',inplace=True)
out['actual'].replace(0,'No Delay',inplace=True)
out['predicted'].replace(1,'Delay',inplace=True)
out['predicted'].replace(0,'No Delay',inplace=True)
out[['actual','predicted']].sample(10)

         actual predicted
71179  No Delay  No Delay
35161  No Delay  No Delay
16587  No Delay     Delay
45583  No Delay  No Delay
94783  No Delay  No Delay
56864  No Delay  No Delay
3175   No Delay  No Delay
69186  No Delay  No Delay
82060     Delay  No Delay
98512     Delay  No Delay